<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JavaConnect</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>driver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost:3306/seedProject</param-value>
  </context-param>
  <context-param>
    <param-name>username</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>root</param-value>
  </context-param>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.javaConnect.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/login</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.javaConnect.auth.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>RegisterFilter</display-name>
    <filter-name>RegisterFilter</filter-name>
    <filter-class>com.javaConnect.filter.RegisterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RegisterFilter</filter-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.javaConnect.auth.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayImage</display-name>
    <servlet-name>DisplayImage</servlet-name>
    <servlet-class>com.javaConnect.auth.controller.DisplayImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayImage</servlet-name>
    <url-pattern>/DisplayImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionExpire</display-name>
    <servlet-name>SessionExpire</servlet-name>
    <servlet-class>com.javaConnect.auth.controller.SessionExpire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionExpire</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ProfilePageFilter</display-name>
    <filter-name>ProfilePageFilter</filter-name>
    <filter-class>com.javaConnect.filter.ProfilePageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ProfilePageFilter</filter-name>
    <url-pattern>/profile</url-pattern>
  </filter-mapping>
  <servlet>
    <display-name>ProfilePageServlet</display-name>
    <servlet-name>ProfilePageServlet</servlet-name>
    <servlet-class>com.javaConnect.main.controller.ProfilePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfilePageServlet</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>

  <listener>
    <listener-class>com.javaConnect.listener.ContextListener</listener-class>
  </listener>

  <filter>
    <display-name>EditProfileFilter</display-name>
    <filter-name>EditProfileFilter</filter-name>
    <filter-class>com.javaConnect.filter.EditProfileFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EditProfileFilter</filter-name>
    <url-pattern>/EditProfileServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfileServlet</display-name>
    <servlet-name>EditProfileServlet</servlet-name>
    <servlet-class>com.javaConnect.auth.controller.EditProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfileServlet</servlet-name>
    <url-pattern>/EditProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.javaConnect.auth.controller.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
</web-app>